.b-menu-meta {
    margin-top: -0.2rem;
    margin-bottom: -0.2rem;
}

.b-menu-meta__list {
    @include list-unstyled;

    a {
        display: inline-block;
        padding: 0.3rem 0;
        color: inherit;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $footer-link-hover-color;
        }
    }
}
