.b-page {
    padding-top: $header-mobile;
    letter-spacing: 0.02em;
    @include mq(lg) {
        padding-top: $header-desktop;
    }
}

button,
input,
select {
    letter-spacing: inherit;
}

.b-content {
    max-width: 980px;
    margin: 0 auto;
}