@font-face {
  font-family: 'Steelfish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/steelfish/96aa2beaa94e3b2cccc465363f6d10bb.woff2") format("woff2"), url("../fonts/steelfish/96aa2beaa94e3b2cccc465363f6d10bb.woff") format("woff"), url("../fonts/steelfish/96aa2beaa94e3b2cccc465363f6d10bb.ttf") format("truetype");
}
