<h1>Accordion</h1>
<div id="accordionGroup" class="accordion">
  <button id="accordion-open-1" class="accordion__button" aria-expanded="false">
    Section 1
  </button>
  <div id="accordion-section-1" class="accordion__section" aria-hidden="true">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae lectus in sapien tempus maximus. Aenean dignissim dui sem, non bibendum felis dapibus eu. Curabitur semper augue ut odio lobortis pretium. Cras est metus, feugiat sit amet felis ac, blandit hendrerit velit. Quisque auctor elit at ornare tincidunt. Nunc scelerisque ligula in turpis gravida, sed egestas purus tincidunt. In sapien est, congue id ex quis, malesuada elementum nulla
    </p>  
  </div>
    <button id="accordion-open-2" class="accordion__button" aria-expanded="false">
      Section 2
    </button>
  <div id="accordion-section-2" class="accordion__section" aria-hidden="true">
    <p>
    Etiam laoreet hendrerit est non vulputate. Quisque lacinia justo leo, at pretium nulla dapibus nec. Integer nec nisl nec est viverra commodo a quis est. Fusce cursus sagittis erat. In tristique purus a velit aliquet, a gravida nulla suscipit. Aliquam ligula risus, malesuada ut cursus ut, vehicula vel mauris. Nam dui neque, fringilla vel pharetra sit amet, porttitor a lacus. Morbi elementum odio ex, eu tincidunt est efficitur in. Praesent non lectus ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
    <button id="accordion-open-3" class="accordion__button" aria-expanded="false">
      Section 3
    </button>
  <div id="accordion-section-3" class="accordion__section" aria-hidden="true">
    <p>
      Mauris in porta lacus, eget imperdiet nibh. Sed porttitor bibendum ornare. Proin dolor ante, varius eget laoreet nec, mattis in lorem. Sed molestie orci quis nisl volutpat, tempus pharetra sapien dignissim. Ut ornare, mauris non accumsan tempus, purus urna consectetur leo, ac faucibus velit nibh nec magna. Nulla id porttitor augue. Fusce consequat massa sit amet tellus vestibulum, et porta augue vulputate. Maecenas faucibus magna sit amet placerat semper. Curabitur a volutpat turpis. Donec nisi dolor, posuere vel lorem sit amet, vehicula congue erat. Donec sit amet lacinia sem. Phasellus quis erat iaculis, consequat velit at, sodales ex. Sed id mattis arcu, id interdum nunc. Aliquam erat volutpat. Nunc feugiat a leo ac feugiat. Nullam leo ante, convallis id feugiat eget, congue non velit.
    </p>
  </div>
</div>




