<nav class="b-menu-main">
    <ul class="b-menu-main__list">
        <li>
            <a href="#">
                <span>Item</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Item</span>
            </a>
        </li>
        <li class="has-sub is-active">
            <a href="#">
                <span>Item</span>
            </a>
            <ul class="b-menu-main__sub">
                <li class="is-active">
                    <a href="#">
                        <span>Item Sub</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a href="#">
                        <span>Item Sub</span>
                    </a>
                    <ul class="b-menu-main__subsub">
                        <li>
                            <a href="#">
                                <span>Item Sub Sub</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
