<nav class="b-menu-footer">
    <ul class="b-menu-footer__list">
        <li>
            <a href="#">
                <span>Impressum</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Datenschutz</span>
            </a>
        </li>
    </ul>
</nav>
