<nav class="b-menu-meta">
    <ul class="b-menu-meta__list">
        <li>
            <a href="#">
                <span>2B Family</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>2B Events</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Jobs</span>
            </a>
        </li>
    </ul>
</nav>
