// fluid calculation
@mixin fluid-calc($prop, $min-vw, $max-vw, $min-size, $max-size, $min-return: true) {
    @if unit($min-size) == 'px' {
        $min-size: to-rem($min-size);
    }

    @if unit($min-size) == 'em' {
        $min-size: $min-size * 1rem;
    }

    @if unit($max-size) == 'px' {
        $max-size: to-rem($max-size);
    }

    @if unit($max-size) == 'em' {
        $max-size: $max-size * 1rem;
    }

    @if $min-return {
        #{$prop}: $min-size;
    }

    @include mq(#{$min-vw}) {
        #{$prop}: calc(#{$min-size} + (#{strip-unit($max-size - $min-size)}) * ((100vw - #{to-rem(map-get($mq-breakpoints, $min-vw))}) / #{strip-unit(to-rem(map-get($mq-breakpoints, $max-vw)) - to-rem(map-get($mq-breakpoints, $min-vw)))}));
    }

    @include mq(#{$max-vw}) {
        #{$prop}: $max-size;
    }
}
